@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-active {
    @apply dark:bg-zinc-800/70 bg-zinc-200/70;
  }

  .bg-hover {
    @apply bg-zinc-200/50 dark:bg-zinc-800/50;
  }

  .bg-question-hover {
    @apply bg-zinc-200/20 dark:bg-zinc-800/20;
  }

  .bg-primary {
    @apply bg-zinc-50 dark:bg-zinc-950;
  }

  .text-primary {
    @apply text-zinc-950 dark:text-zinc-50 !important;
  }

  .text-invert {
    @apply dark:text-zinc-950 text-zinc-50 !important;
  }

  .text-secondary {
    @apply text-zinc-500 dark:text-zinc-400 !important;
  }

  .text-hover {
    @apply text-zinc-500 dark:text-zinc-300 hover:text-primary !important;
  }

  .border-primary {
    @apply border-zinc-300 dark:border-zinc-800 !important;
  }

  .border-hover {
    @apply border-zinc-500 dark:border-zinc-500 !important;
  }
}
